<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

    <resultMap id="BoardList" type="com.bitacademy.wannavegan.board.vo.BoardVO">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="user_id" column="user_id"/>
        <result property="created" column="created"/>
    </resultMap>

    <!--게시판 전체 게시글 조회-->
    <select id="selectAll" resultMap="BoardList">
            SELECT boards.id, boards.title, users.user_id, to_char(created, 'yyyy-mm-dd') as created
            FROM boards, users
            WHERE boards.author=users.id
            ORDER BY id DESC
    </select>

    <!--게시판 글 쓰기-->
    <insert id="insert" parameterType="com.bitacademy.wannavegan.board.vo.BoardVO">
            INSERT INTO boards(id, author, title, content, created)
            VALUES (seq_board_pk.nextval, 27, #{title}, #{content}, sysdate)
     </insert>

    <!--게시글 상세 조회-->
    <select id="selectById" parameterType="int" resultType="com.bitacademy.wannavegan.board.vo.BoardVO">
        SELECT boards.id, boards.title, users.user_id as userId, boards.content, to_char(created, 'yyyy-mm-dd') as created
        FROM boards, users
        WHERE boards.author=users.id and boards.id=#{id}
    </select>

    <!--게시글 수정-->
    <update id="update" parameterType="com.bitacademy.wannavegan.board.vo.BoardVO">
        UPDATE boards
        SET title=#{title}, content=#{content}
        WHERE id=#{id}
    </update>

    <!--게시글 삭제-->
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM boards
        WHERE id=#{id}
    </delete>

</mapper>